$primary-color: red;



h1 {
  color: $primary-color;
}

 main{
  display: block;
  width: 100%;
   padding: 1rem 0;
}

header{
  @extend main;
  text-align: center;
  border-bottom: 2px solid $primary-color;

}

footer{
  @extend main;
  text-align: center;
  border-top: 2px solid $primary-color;

}


.container{
  width: 100%;

  &.list {
    display: inline-block;
    width: 30%;

    ul {
      list-style: none;
      width: 100%;
      display: block;
      height:30em;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    li{
      display: block;
    }

  }
  &.details{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    padding-left: 5em;

    figure{
      margin: 0;
      padding: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
    }
  }

  &:after{
    clear: both;
  }

}




